:host {
  --border-radius: var(--border-radius);

  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  inset: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

:host::before {
  content: ' ';
  display: block;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

:host > * {
  background: var(--background);
  color: var(--color);
  max-height: calc(100vh - 2em);
  min-height: 18em;
  height: var(--wmt-height);
  width: calc(100% - 2em);
  position: fixed;
  padding: 1em;
  bottom: 0;
  left: 0;
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1em;
}

:host([hidden]) {
  display: none;
}

:host([data-preview-mode]) {
  position: static;
}

:host([data-preview-mode])::before {
  display: none;
}

:host([data-preview-mode]) > * {
  position: absolute;
}
