:host {
  --border-radius: var(--border-radius);

  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  inset: 0;
  font-family: var(--font-family);
  font-size: calc(1rem * var(--font-scale, 1));

  --title-font-size: 1.875rem;
  --title-line-height: 1.2667;

  --p-font-size: 1rem;
  --p-line-height: 1.5;

  --helper-font-size: 1rem;
  --helper-line-height: 1.5rem;
}

:host::before {
  content: ' ';
  display: block;
  position: fixed;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(0.5 * (100vh - var(--coverage))),
    rgba(0, 0, 0, 0.1) calc(0.8 * (100vh - var(--coverage))),
    rgba(0, 0, 0, 0.5) calc(100vh - var(--coverage)),
    rgba(0, 0, 0, 0.75) 100%
  );
  z-index: -1;
}

:host > * {
  background: var(--background);
  color: var(--color);
  height: var(--coverage);
  width: 100%;
  position: fixed;
  padding: 1rem;
  bottom: 0;
  left: 0;
  border-radius: var(--border-radius);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

:host > div > * {
  max-width: 600px;
  margin: 0 auto;
}

:host > div > * {
  max-width: 600px;
  margin: 0 auto;
}

:host([hidden]) {
  display: none;
}

:host([data-font-size='sm']) {
  --title-font-size: 1.625rem;
  --p-font-size: 0.8125rem;
  --helper-font-size: 0.75rem;
  --helper-line-height: 1rem;
}

:host([data-font-size='lg']) {
  --title-font-size: 2.125rem;
  --p-font-size: 0.8125rem;
  --helper-font-size: 0.75rem;
  --helper-line-height: 1rem;
}
