:host {
  --font-family: var(--wm-font-family, system-ui, sans-serif);
  --font-scale: var(--wmt-font-scale, 1);
  --background: var(--wmt-background, #ffffff);
  --color: var(--wmt-color, #6b6e76);
  --theme: var(--wmt-theme, #56b7b5);
  --border-radius: var(--wmt-border-radius, 1rem);

  --color-error: #e51d25;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
