:host {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: auto;
}

form label {
  display: block;
  margin-bottom: 0.2em;
  font-size: 1em;
  font-weight: 600;
}

form input {
  font-family: inherit;
  border: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1.25em;
  border-radius: var(--border-radius);
  background-color: #fff;
}

form wm-dots-loader {
  --primary-color: var(--theme);
}

form input[aria-invalid='true'] {
  border-color: var(--color-error);
}
form div p.error {
  margin-top: 0.2em;
  font-size: 0.9em;
  color: var(--color-error);
}
