:host {
  width: 100%;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  overflow: hidden;
}

:host > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.price {
  background-color: rgba(0, 0, 0, 0.05);
  border: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: column;

  span:first-child {
    text-transform: uppercase;
    font-size: var(--helper-font-size);
    line-height: var(--helper-line-height);
  }

  span:last-child {
    font-size: var(--price-font-size);
    line-height: var(--price-line-height);
    font-weight: 400;
  }
}
